.edit {
    text-align: center;
}

.textarea1 {
    height: 150px;
    width: 400px;
}

.textarea2 {
    height: 60px;
    width: 300px
}

button {
    width: 80px;
    height: 40px;
    font-size: larger;
    background-color: cadetblue;
    color: white;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: arial;
}
